In [4]:
import pandas as pd
import numpy as np

In [8]:
proba = pd.read_csv('regression_proba.csv')
past = pd.read_csv('PastLoans.csv')
new = pd.read_csv('NewApplications_1_Round1.csv')
past.set_index(['id'], inplace=True)
new.set_index(['id'], inplace=True)

In [6]:
print(past.shape)
print(past.head())
print(new.shape)
print(new.head())

(100000, 8)
   sex  married employment   income  digital1  digital2  digital3  default
id
1    M        0   employed  50215.0     0.213     0.193     0.032        0
2    M        0    student  14499.0     0.465     0.731     0.472        0
3    M        1    retired  32448.0     0.147     0.018     0.113        0
4    M        0    student   8627.0     0.212     0.346     0.148        0
5    F        1   employed  17259.0     0.384     0.252     0.551        0
(100000, 5)
       sex  married employment   income  digital1
id
100001   M        0    student  12394.0     0.491
100002   M        0   employed  36385.0     0.450
100003   M        0    student  14945.0     0.756
100004   F        1   employed  17874.0     0.618
100005   M        0   employed  34250.0     0.453

In [7]:
past.value_counts(['default'])

default
0          81905
1          18095
dtype: int64

In [5]:
past.groupby(by=['default']).mean()

          married        income  digital1  digital2  digital3
default
0        0.621354  40735.809010  0.392746  0.392599  0.393277
1        0.611992  23902.378281  0.298160  0.299725  0.298640

In [6]:

cat_features = ['sex', 'employment']
pass_features = ['married']
numerical_features = ['income']
numerical_pass_features = ['digital1', 'digital2', 'digital3']