In [210]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn
import random
import tqdm
import warnings
warnings.simplefilter('ignore')

In [137]:
past = pd.read_csv('PastLoans.csv')
new = pd.read_csv('NewApplications_1_Round1.csv')
past.set_index(['id'], inplace=True)
new.set_index(['id'], inplace=True)
proba = pd.read_csv('regression_proba.csv')

In [138]:
proba

       prediction
0        0.137375
1        0.119819
2        0.114911
3        0.133836
4        0.121650
...           ...
99995    0.166676
99996    0.457915
99997    0.336487
99998    0.159271
99999    0.229324

[100000 rows x 1 columns]

In [139]:
new.describe()

             married          income       digital1
count  100000.000000   100000.000000  100000.000000
mean        0.620580    38368.327340       0.376222
std         0.485245    74877.380095       0.212271
min         0.000000        0.000000       0.000000
25%         0.000000    17661.000000       0.201000
50%         1.000000    24638.000000       0.376000
75%         1.000000    36932.250000       0.535000
max         1.000000  1000000.000000       1.000000

In [140]:
new_2 = pd.read_csv('NewApplications_1_Round2.csv')
new_2.set_index(['id'], inplace=True)

In [141]:
new_2.describe()

             married          income       digital1
count  100000.000000   100000.000000  100000.000000
mean        0.624380    37730.241440       0.375153
std         0.484285    71875.534362       0.212992
min         0.000000        0.000000       0.000000
25%         0.000000    17573.000000       0.198000
50%         1.000000    24491.000000       0.375000
75%         1.000000    36924.250000       0.534000
max         1.000000  1000000.000000       1.000000

In [142]:
results = pd.read_csv('profit_12.csv')
results.set_index(['id'], inplace=True)

In [143]:
results.describe()

,own,competing2,competing3,borrowertype,accepted,default,profit
count,100000.000000,78702.000000,91537.000000,100000.000000,100000.000000,100000.000000,36774.000000
mean,0.265085,0.310478,0.289839,1.999990,0.367740,0.179620,-200.788010
std,0.146896,0.214621,0.214404,0.816503,0.482193,0.383873,5291.462132
min,0.088073,0.027000,0.007000,1.000000,0.000000,0.000000,-10000.000000
25%,0.170742,0.164427,0.131071,1.000000,0.000000,0.000000,1235.438000
50%,0.211428,0.206340,0.220819,2.000000,0.000000,0.000000,1811.931500
75%,0.320898,0.373832,0.393944,3.000000,1.000000,0.000000,2405.251500
max,1.000000,0.999697,1.000000,3.000000,1.000000,1.000000,10000.000000

In [144]:
results.head()

,own,competing2,competing3,borrowertype,accepted,default,profit
id,,,,,,,
100001,0.178253,NaN,0.174741,3,0,0,NaN
100002,0.155131,0.469120,0.093990,1,0,0,NaN
100003,0.148830,0.099437,0.099718,3,0,0,NaN
100004,0.173515,0.418875,0.218949,3,1,0,1735.152
100005,0.157499,0.514527,0.145152,1,1,0,1574.986

In [230]:
def simulation(df):
    results = df

    # generate random borrower type for simulation
    x = np.concatenate((np.ones((33333,)), 2*np.ones((33333,)), 3*np.ones((33334,))))
    np.random.shuffle(x)
    df['borrowertype'] = x

    df['interestrate_borrower1'] = df['own']
    df['interestrate_borrower2'] = df['competing2']
    df['interestrate_borrower3'] =df['competing3']

    # measure the accepted loan based on the borrowertype
    sub_df1 = df[df['borrowertype'].isin([1])]
    sub_df1['interestrate_borrower1'] = sub_df1['own'] - 0.02
    df[df['borrowertype'].isin([1])]= sub_df1

    sub_df2 = df[df['borrowertype'].isin([2])]
    sub_df2['interestrate_borrower2'] = sub_df2['competing2'] - 0.02
    df[df['borrowertype'].isin([2])] = sub_df2

    sub_df3 = df[df['borrowertype'].isin([3])]
    sub_df3['interestrate_borrower3'] = sub_df3['competing3'] - 0.02
    df[df['borrowertype'].isin([3])] = sub_df3

    df['winner'] = np.nanargmin(np.array(df[['interestrate_borrower1', 'interestrate_borrower2', 'interestrate_borrower3']]), axis=1)+1

    # measure profit for each borrower type 
    df['profit1'] = np.zeros((100000,))
    df['profit2'] = np.zeros((100000,))
    df['profit3'] = np.zeros((100000,))
    
    sub_df1 = df[df['winner'].isin([1])]
    sub_df1['profit1'] = 10000*(sub_df1['own']*(1-sub_df1['default']))-sub_df1['default']*10000
    df[df['winner'].isin([1])]= sub_df1

    sub_df2 = df[df['winner'].isin([2])]
    sub_df2['profit2'] = 10000*(sub_df2['competing2']*(1-sub_df2['default']))-sub_df2['default']*10000
    df[df['winner'].isin([2])] = sub_df2

    sub_df3 = df[df['winner'].isin([3])]
    sub_df3['profit3'] = 10000*(sub_df3['competing3']*(1-sub_df3['default']))-sub_df3['default']*10000
    df[df['winner'].isin([3])] = sub_df3

    market_share = np.array([sub_df1.shape[0], sub_df2.shape[0], sub_df3.shape[0]])

    return df, df[['profit1', 'profit2', 'profit3']].sum().values, market_share

In [231]:
results = pd.read_csv('profit_12.csv')
results.set_index(['id'], inplace=True)

df, profit, market_share = simulation(results)
profit

array([ -7651747.363, -12358824.182,  -4247423.42 ])

### Tests to do
- put higher margin for the 2/3 in the middle (after deleting the defaulters), 2/3 randomly as before, 
- set the low margin to 1.9 and then tune the hyperparameter between 3.2 and 3.9

In [220]:
proba.head()

   prediction       own  Break_even_rates  selection  interest_rates
0    0.137375  0.137375          0.159253        0.0        0.178253
1    0.119819  0.119819          0.136131        0.0        0.155131
2    0.114911  0.114911          0.129830        1.0        0.164830
3    0.133836  0.133836          0.154515        0.0        0.173515
4    0.121650  0.121650          0.138499        1.0        0.173499

In [278]:
def test_strategy_middle(df, proba, m1, m2, p_mid, p_out, nb_simulations):
    
    proba['own'] = proba['prediction'].values
    proba['Break_even_rates'] = proba['own']/(1-proba['own'])

    # here take 1/3 randomly: this is where we input our targeted applicants based on percentile and quantile
    proba['selection'] = np.ones((df.shape[0]))
    proba[proba['own']<p_mid]['selection'] = 2
    proba[proba['own']>p_out]['selection'] = 0

    # this is where we will do the hyperparameter tuning
    proba.loc[proba['selection']==0,'interest_rates'] = np.nan
    proba.loc[proba['selection']==1,'interest_rates'] = proba['Break_even_rates']+m1
    proba.loc[proba['selection']==2,'interest_rates'] = proba['Break_even_rates']+m2

    df['own'] = proba['interest_rates'].values

    profits = pd.DataFrame(np.zeros((nb_simulations,3)))
    for n in range(nb_simulations):
        random.seed(n)
        _, profit, _ = simulation(df)
        profits.iat[n,0] = profit[0]
        profits.iat[n,1] = profit[1]
        profits.iat[n,2] = profit[2]

    return profits

In [286]:
sim_results = pd.DataFrame({'Low Margin': [], 'High Margin': [], 'High percentile': [], 'Low percentile': [], 'Profit 1': [], 'Profit 2': [], 'Profit 3': []})

m1=1.9
from tqdm import tqdm
for m2 in tqdm([3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8]):
    for perc_out in tqdm(np.linspace(75, 85, 10)):
        for perc_mid in tqdm(np.linspace(5, 25, 20)):
            p_mid = np.percentile(proba['prediction'], perc_mid)
            p_out = np.percentile(proba['prediction'], perc_out)
            results = pd.read_csv('profit_12.csv')
            results.set_index(['id'], inplace=True)
            profits = test_strategy_middle(results, proba, m1, m2, p_mid, p_out, nb_simulations=10)
            print('For proba <', p_mid, 'break-even rate +', m2)
            print('For ', p_mid, '< proba <', p_out, 'break-even rate +', m1)
            print('For proba >', p_out, 'no interest rate')
            sim_results.append(pd.DataFrame([np.concatenate((np.array([m1,m2,p_out,p_mid]),profits.mean().values))], columns=sim_results.columns))

  0%|          | 0/7 [00:00<?, ?it/s]
  0%|          | 0/20 [00:14<?, ?it/s]
  0%|          | 0/10 [00:14<?, ?it/s]
  0%|          | 0/7 [00:14<?, ?it/s]

KeyboardInterrupt:

In [236]:
sim_results

0   -7.331133e+06
1   -1.259008e+07
2   -4.337799e+06
dtype: float64

In [139]:
new_predictions = new_2
# add the predictions as a new column !!!!!!!

In [ ]:
new_predictions['prediction'].quantile(np.linspace(1, 0, 10))

In [ ]:
new_predictions['Break_even_rates'] = new_predictions ['prediction']/(1-new_predictions ['prediction'])
new_predictions['payoff_Break_even_rates'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['Break_even_rates'])

# here take 1/3 randomly: this is where we input our targeted applicants based on percentile and quantile
nums = np.ones(100000)
nums[:33333] = 0
np.random.shuffle(nums)
new_predictions['random_selection'] =np.array(nums)

new_predictions['premium']= new_predictions['Break_even_rates'] + 0.019
new_predictions['payoff_premium'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['premium'])

# this is where we will do the hyperparameter tuning
new_predictions.loc[new_predictions['random_selection'] == 0,'interest_rates'] = new_predictions['Break_even_rates'] + 0.019
new_predictions.loc[new_predictions['random_selection'] == 1,'interest_rates'] = new_predictions['Break_even_rates'] + 0.035
new_predictions['profit_model'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['interest_rates'])
model = new_predictions[['random_selection','prediction','Break_even_rates','interest_rates','profit_model']]