In [5]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [6]:
past = pd.read_csv('PastLoans.csv')
new = pd.read_csv('NewApplications_1_Round1.csv')
past.set_index(['id'], inplace=True)
new.set_index(['id'], inplace=True)

In [7]:
new.describe()

             married          income       digital1
count  100000.000000   100000.000000  100000.000000
mean        0.620580    38368.327340       0.376222
std         0.485245    74877.380095       0.212271
min         0.000000        0.000000       0.000000
25%         0.000000    17661.000000       0.201000
50%         1.000000    24638.000000       0.376000
75%         1.000000    36932.250000       0.535000
max         1.000000  1000000.000000       1.000000

In [8]:
new_2 = pd.read_csv('NewApplications_1_Round2.csv')
new_2.set_index(['id'], inplace=True)

In [9]:
new_2.describe()

             married          income       digital1
count  100000.000000   100000.000000  100000.000000
mean        0.624380    37730.241440       0.375153
std         0.484285    71875.534362       0.212992
min         0.000000        0.000000       0.000000
25%         0.000000    17573.000000       0.198000
50%         1.000000    24491.000000       0.375000
75%         1.000000    36924.250000       0.534000
max         1.000000  1000000.000000       1.000000

In [10]:
results = pd.read_csv('profit_12.csv')
results.set_index(['id'], inplace=True)

In [11]:
results.describe()

,own,competing2,competing3,borrowertype,accepted,default,profit
count,100000.000000,78702.000000,91537.000000,100000.000000,100000.000000,100000.000000,36774.000000
mean,0.265085,0.310478,0.289839,1.999990,0.367740,0.179620,-200.788010
std,0.146896,0.214621,0.214404,0.816503,0.482193,0.383873,5291.462132
min,0.088073,0.027000,0.007000,1.000000,0.000000,0.000000,-10000.000000
25%,0.170742,0.164427,0.131071,1.000000,0.000000,0.000000,1235.438000
50%,0.211428,0.206340,0.220819,2.000000,0.000000,0.000000,1811.931500
75%,0.320898,0.373832,0.393944,3.000000,1.000000,0.000000,2405.251500
max,1.000000,0.999697,1.000000,3.000000,1.000000,1.000000,10000.000000

In [12]:
results.head()

,own,competing2,competing3,borrowertype,accepted,default,profit
id,,,,,,,
100001,0.178253,NaN,0.174741,3,0,0,NaN
100002,0.155131,0.469120,0.093990,1,0,0,NaN
100003,0.148830,0.099437,0.099718,3,0,0,NaN
100004,0.173515,0.418875,0.218949,3,1,0,1735.152
100005,0.157499,0.514527,0.145152,1,1,0,1574.986

In [13]:
def simulation(df):
    #df = np.random()

    sub_df = df[df['borrowertype'].isin([1])]
    sub_df['own'] = sub_df['own'] - 0.002
    df[df['borrowertype'].isin([1])]= sub_df

    sub_df2 = df[df['borrowertype'].isin([2])]
    sub_df2['competing2'] = sub_df2['competing2'] - 0.002
    df[df['borrowertype'].isin([2])] = sub_df2

    sub_df3 = df[df['borrowertype'].isin([3])]
    sub_df3['competing3'] = sub_df3['competing3'] - 0.002
    df[df['borrowertype'].isin([3])] = sub_df3

    df['winner'] = np.argmin(np.array(df.iloc[:,:3]), axis=1)+1

    
    return df

In [14]:
x = np.concatenate((np.ones((33333,)), 2*np.ones((33333,)), 3*np.ones((33334,))), axis=0)

In [24]:
df = results

# generate random borrower type for simulation
df['borrowertype'] = np.random.shuffle(np.concatenate((np.ones((33333,)), 2*np.ones((33333,)), 3*np.ones((33334,))), axis=0))
sub_df = df

# measure the accepted loan based on the borrowertype
sub_df1 = sub_df[sub_df['borrowertype'].isin([1])]
sub_df1['own'] = sub_df1['own'] - 0.02
sub_df[sub_df['borrowertype'].isin([1])]= sub_df1

sub_df2 = sub_df[sub_df['borrowertype'].isin([2])]
sub_df2['competing2'] = sub_df2['competing2'] - 0.02
sub_df[sub_df['borrowertype'].isin([2])] = sub_df2

sub_df3 = sub_df[sub_df['borrowertype'].isin([3])]
sub_df3['competing3'] = sub_df3['competing3'] - 0.02
sub_df[sub_df['borrowertype'].isin([3])] = sub_df3

df['winner'] = np.argmin(np.nan_to_num(np.array(sub_df.iloc[:,:3]), nan=1), axis=1)+1

# measure profit for each borrower type 
sub_df = df[df['winner'].isin([1])]
sub_df['profit1'] = 10000*(df['own']*(1-sub_df['default']))-1
df[df['winner'].isin([1])]= sub_df

sub_df2 = df[df['winner'].isin([2])]
df['profit2'] = 10000*(df['own']*(1-sub_df2['default']))-1
df[df['winner'].isin([2])] = sub_df2

sub_df3 = df[df['winner'].isin([3])]
df['profit3'] = 10000*(df['own']*(1-sub_df3['default']))-1
df[df['winner'].isin([3])] = sub_df3

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Tests to do
- put higher margin for the 2/3 in the middle (after deleting the defaulters), 2/3 randomly as before, 
- set the low margin to 1.9 and then tune the hyperparameter between 3.2 and 3.9

In [139]:
new_predictions = new_2
# add the predictions as a new column !!!!!!!

In [ ]:
new_predictions['Break_even_rates'] = new_predictions ['prediction']/(1-new_predictions ['prediction'])
new_predictions['payoff_Break_even_rates'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['Break_even_rates'])

# here take 1/3 randomly: this is where we input our targeted applicants based on percentile and quantile
nums = np.ones(100000)
nums[:33333] = 0
np.random.shuffle(nums)
new_predictions['random_selection'] =np.array(nums)

new_predictions['premium']= new_predictions['Break_even_rates'] + 0.019
new_predictions['payoff_premium'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['premium'])

# this is where we will do the hyperparameter tuning
new_predictions.loc[new_predictions['random_selection'] == 0,'interest_rates'] = new_predictions['Break_even_rates'] + 0.019
new_predictions.loc[new_predictions['random_selection'] == 1,'interest_rates'] = new_predictions['Break_even_rates'] + 0.035
new_predictions['profit_model'] = -10000 + 10000*(1-new_predictions ['prediction'])*(1+ new_predictions['interest_rates'])
model = new_predictions[['random_selection','prediction','Break_even_rates','interest_rates','profit_model']]